<% layout("/layouts/boilerplate.ejs")%>


<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card col-6 offset-3 show-card listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text"><i>Owned By: <%= listing.owner.username %></i></p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        Price: ₹ <%= listing.price.toLocaleString("en-IN") %>
      </p>
      <p class="card-text">Location: <%= listing.location %></p>
      <p class="card-text">Country: <%= listing.country %></p>
    </div>
  

  <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
  <div class="btns mt-3">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3"
      >Edit</a
    >

    <form
      method="POST"
      action="/listings/<%=listing._id%>?_method=DELETE"
      class="d-inline"
    >
      <button class="btn btn-dark">Delete</button>
    </form>
  </div>
  <% } %>
  <hr />
</div>

  

  
  <div class="col-8 offset-2 mb-3">
    <% if (currUser) { %>
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />
    <% } %> <% if(listing.reviews.length > 0) { %>
    <div class="row">
      <p class="col-8 offset-2"><b>All Reviews</b></p>
      <% for (let review of listing.reviews) { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <% if (review.author) { %>
          <h5 class="card-title">@<%= review.author.username %></h5>
          <% } else { %>
          <h5 class="card-title">@Anonymous</h5>
          <% } %>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating %>"
          ></p>
          <p class="card-text"><%= review.comment %></p>

          <% if (currUser && currUser._id.equals(review.author?._id)) { %>
          <form
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            class="mb-3"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <div class="col-6 offset-2 mb-3">
    <h3>Where you'll be</h3>
    <div id="map"></div>
  </div>
</div>
<script>
  let coordinates="<%- JSON.stringify(listing.geometry.coordinates) %>";

  const lng="<%= listing.geometry.coordinates[0] %>";
  const lat="<%= listing.geometry.coordinates[1] %>"

  
  let mapToken = "pk.eyJ1IjoiaXRzc2FyYW5oZXJlIiwiYSI6ImNsd3B3aDFybjFodTMyaXJ6cGQxeWdwYzcifQ.4HPJRlRvgTdHaXXTDQEWCg";
  
  if (!mapToken) {
    console.error("Mapbox token is missing! Check your .env file and server settings.");
  }

  mapboxgl.accessToken = mapToken;
  
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: "mapbox://styles/mapbox/streets-v12",
      center: [lng,lat], // starting position [lng, lat]
      zoom: 9 // starting zoom
  });

  
  
  const marker = new mapboxgl.Marker({color:"red"})
  .setLngLat({ lng, lat})
  .setPopup(new mapboxgl.Popup({offset:25})
  .setHTML(`<h4>YOUR DESTINATION</h4>`))
  .addTo(map);



 
</script>


